*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

#heading{
    width:90%;
    height:fit-content;
    padding: 5px;
    box-shadow: 2px 2px 5px cyan;
    border-radius: 10px;
    text-shadow: 2px 2px 10px cyan;
    text-align: center;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 10px;
}

#data{
    width:90%;
    margin:auto;
    border-radius: 10px;
}

#table{
    width:100%;
}

.tbl{
    display: flex;
    justify-content: space-between;
}

.table_head{
    width : 20%;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    margin-bottom: 2px;
    box-shadow: 1px 1px 5px greenyellow;
    color: goldenrod;
}

.table_row{
    width: 20%;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    margin-bottom: 2px;
    box-shadow: 1px 1px 5px gray;
}