{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Check</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 id="heading">Health Check Monitoring</h1>
    <div id="data">
        <table id="table">
            <tr class="tbl">
                <th class="table_head">Server</th>
                <th class="table_head">CPU Utilization</th>
                <th class="table_head">Memory Utilization</th>
                <th class="table_head">Disk Utilization</th>
            </tr>
            {% for key,value in DATA.items %}
            <tr class="tbl">
                <td class="table_row" style="color:white">{{value.Host}}</td>
                <td class="table_row" style="color:{{value.CPU.color}}">{{value.CPU.status}} %</td>
                <td class="table_row" style="color:{{value.Memory.color}}">{{value.Memory.status}} %</td>
                <td class="table_row" style="color:{{value.Disk.color}}">{{value.Disk.status}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
